<h1><%= @hospital.name %></h1>
<div id ="notification_panel">
	<h1>Notification Panel</h1>
	<div id ="notifications">
		
	</div>
</div>

<div id="count">
	<input type="button">Plus</button>
	<input type="button">Minus</button>	
</div> 